---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*,-cppcoreguidelines-owning-memory'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
