language: cpp
os: linux
dist: bionic

services:
   - docker

cache: # see https://docs.travis-ci.com/user/caching/
- directories:
    - $HOME/.cache

env:
  matrix:
    - DOCKER_IMAGE=bbvch/conan_qt-5.14.2_builder_gcc7 COVERAGE=1 BUILD_TYPE=Debug
    - DOCKER_IMAGE=bbvch/conan_qt-5.14.2_builder_gcc8 COVERAGE=0 BUILD_TYPE=Debug
    - DOCKER_IMAGE=bbvch/conan_qt-5.14.2_builder_gcc9 COVERAGE=0 BUILD_TYPE=Debug
    - DOCKER_IMAGE=bbvch/conan_qt-5.14.2_builder_clang50 COVERAGE=0 BUILD_TYPE=Debug
    - DOCKER_IMAGE=bbvch/conan_qt-5.14.2_builder_clang60 COVERAGE=0 BUILD_TYPE=Debug
    - DOCKER_IMAGE=bbvch/conan_qt-5.14.2_builder_clang7 COVERAGE=0 BUILD_TYPE=Debug
    - DOCKER_IMAGE=bbvch/conan_qt-5.14.2_builder_clang8 COVERAGE=0 BUILD_TYPE=Debug
    - DOCKER_IMAGE=bbvch/conan_qt-5.14.2_builder_clang9 COVERAGE=0 BUILD_TYPE=Release

notifications:
  email:
    recipients:
      - michel.estermann@bbv.ch
    on_success: change
    on_failure: always

before_install:
  - DOCKER_WORKDIR="/workspace"
  - docker pull ${DOCKER_IMAGE}
  - BUILD_CMD="./build.sh -i build"
  - COVERAGE_FILE="coverage.info"
  - touch ${COVERAGE_FILE}
  - if [ "${COVERAGE}" == '1' ] ; then BUILD_CMD="./build.sh -i --cov ${COVERAGE_FILE} build" ; fi
  - if [ "${BUILD_TYPE}" == 'Release' ] ; then BUILD_CMD="./build.sh -i -r build" ; fi

script: docker run -t -v ${TRAVIS_BUILD_DIR}:${DOCKER_WORKDIR} -w ${DOCKER_WORKDIR} ${DOCKER_IMAGE} /bin/bash -c "${BUILD_CMD}"

after_success:
  - if [ "${COVERAGE}" = '1' ] ; then bash <(curl -s https://codecov.io/bash) -f ${COVERAGE_FILE} || echo 'Codecov did not collect coverage reports' ; fi
