---
name: API Documentation
on:
    push:

jobs:
    generate-documentation:
        name: generate-docu
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Cache (Conan)
              uses: actions/cache@v4
              with:
                  path: ~/.conan2/p
                  key: cache-ubuntu-latest-conan-${{ hashFiles('conanfile.txt') }}
                  restore-keys: |
                      cache-ubuntu-latest-conan
            - name: Cache (ccache)
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cache/ccache
                  key: ccache-ubuntu-latest-g++-Debug-Ninja-${{ hashFiles('**/CMakeLists.txt') }}
                  restore-keys: |
                      ccache-ubuntu-latest-g++-Debug
            - name: install dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install -y --no-install-recommends ninja-build clang-tidy python3-pip python3-setuptools
                  sudo apt-get install -y --no-install-recommends ninja-build qt6-base-dev qt6-tools-dev qt6-tools-dev-tools libqt6charts6 libqt6charts6-dev libqt6opengl6 libqt6opengl6-dev
                  sudo apt-get install -y --no-install-recommends dpkg pkg-config doxygen
                  python3 -m pip install --upgrade pip
                  python3 -m pip install -r py-requirements.txt
            - name: Set conan compiler env
              run: conan profile detect
            - name: conan install
              run: conan install . --build=missing --settings build_type=Debug
            - name: cmake-configuration
              run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug
            - name: build-documentation
              run: cmake --build build --target doxygen-docs
            - name: Deploy to GitHub Pages
              if: github.ref == 'refs/heads/master'
              uses: JamesIves/github-pages-deploy-action@3.4.9
              with:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  BRANCH: gh-pages # The branch the action should deploy to.
                  FOLDER: build/docs/html # The folder the action should deploy.
                  TARGET_FOLDER: docs/
