---
name: Windows Builds

on:
    push:
    pull_request:
    release:
        types: [published]

jobs:
    ci:
        name: ${{ matrix.name }}
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                include:
                    - name: windows-2022-VS-2022
                      os: windows-2022
                      build_type: Release
                      cppcompiler: cl
                      ccompiler: cl
                      generators: Visual Studio 17 2022
                      arch: x64
                      qt-host: windows
                      qt-arch: win64_msvc2022_64
                    - name: windows-2025-VS-2022
                      os: windows-2025
                      build_type: Release
                      cppcompiler: cl
                      ccompiler: cl
                      generators: Visual Studio 17 2022
                      arch: x64
                      qt-host: windows
                      qt-arch: win64_msvc2022_64
                    - name: windows-11-arm-VS-2022
                      os: windows-11-arm
                      build_type: Release
                      cppcompiler: cl
                      ccompiler: cl
                      generators: Visual Studio 17 2022
                      arch: arm64
                      qt-host: windows_arm64
                      qt-arch: win64_msvc2022_arm64
        env:
            CXX: ${{ matrix.cppcompiler }}
            CC: ${{ matrix.ccompiler }}

        steps:
            - uses: actions/checkout@v4
            - name: Install dependencies
              run: |
                  choco install doxygen.install
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: 3.x
            - name: Install python dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r py-requirements.txt
            - name: Install Qt
              uses: jurplel/install-qt-action@v4
              with:
                  version: 6.8.3
                  host: ${{ matrix.qt-host }}
                  target: desktop
                  arch: ${{ matrix.qt-arch }}
                  modules: qtcharts
            - name: Install Qt ifw
              uses: jurplel/install-qt-action@v4
              if: matrix.qt-host == 'windows'
              with:
                  host: windows
                  target: desktop
                  tools: tools_ifw
            - name: setup-msvc-dev
              uses: TheMrMilchmann/setup-msvc-dev@v3
              with:
                  arch: ${{ matrix.arch }}
            - name: Set conan compiler env
              run: conan profile detect
            - name: conan install
              run: conan install . --build=missing --settings build_type=${{ matrix.build_type }} --settings compiler.cppstd=17
            - name: CMake configure
              run: |
                  cmake -S . -B ./build -G "${{ matrix.generators }}"
            - name: CMake build
              run: cmake --build ./build --config ${{ matrix.build_type }}
            - name: CTest
              run: ctest -C Debug
              working-directory: ./build
            - name: CMake build docs
              run: cmake --build ./build --target doxygen-docs --config ${{ matrix.build_type }}
            - name: CMake build packages
              run: |
                  cpack --config ${{ matrix.build_type }}
                  cpack --config CPackSourceConfig.cmake
              working-directory: ./build
            - uses: actions/upload-artifact@v4
              with:
                  name: ${{ matrix.name }}-artifacts
                  path: |
                      ./build/Coronan-*.zip
                      ./build/Coronan-*.msi
                      ./build/Coronan-*.exe
